 <section class="hero">   
   <h2>好きな漫画をシェアしよう</h2>
   <p>みんなのおすすめを見つけたり、診断で新しい漫画に出会おう！</p>
   <div class="box">
     <%= link_to "新規投稿へ", new_tweet_path %>
   </div>

   <div class="box1">
     <%= link_to "診断", new_perfume_path %>
   </div>
 </section>



 <div class="tweets-text">
   <h2>投稿一覧</h2>
 </div>

 <div class="tweets-container">
  <% @tweets.each do |t| %>
    <div class="tweet">
      <% if t.image.attached? %>
        <%= image_tag t.image, size: '250x200' %>
        <%= t.title %>
      <% end %>

      <% if user_signed_in? %>
        <% if current_user.already_liked?(t) %>
          <%= button_to tweet_like_path(id: t.id, tweet_id: t.id), method: :delete do %>
            <i class="fas fa-heart"></i><%= t.likes.count %>
          <% end %>
        <% else %>
          <%= link_to tweet_likes_path(id: t.id, tweet_id: t.id), method: :post do %>
            <i class="far fa-heart"></i><%= t.likes.count %>
          <% end %>
        <% end %>
      <% else %>
        <i class="far fa-heart"></i><%= t.likes.count %>
      <% end %>

      <%= link_to t.user.name, user_path(t.user.id) %>
      <%= t.information %>

      <div class="mini-btn1">
        <%= link_to "詳細へ", tweet_path(t.id) %>
      </div>  
      
      <div class="mini-btn2">
        <%= link_to "編集する", edit_tweet_path(t.id) %>
      </div>

      <div class="delete-btn1">
         <%= button_to "削除する", tweet_path(t.id), method: :delete %>
      </div>
    </div>
  <% end %>
 </div>
