<div class="text">
  <h1>新規投稿</h1>
</div>

<%= form_for @tweet do |f| %>
    <div class="field1">
        <%= f.label :タイトル %>
        <%= f.text_field :title, :size => 30 %>
    </div>

    <div class="field2">
        <%= f.label :内容 %>
        <%= f.text_field :information, :size => 30 %>
    </div>

    <div class="field3">
      <%= f.label :画像 %>
      <%= f.file_field :image %>
    </div>



    <%= f.submit "投稿する" %>
<% end %>

<div class="back">
<%= link_to "一覧に戻る", tweets_path %>
</div>
