<%= form_for(@perfume, class: 'form-horizontal', role: 'form') do |f| %>
  <div class="perfume-container">

    <div class="col-12">
      <p>Q1. 物語のテンポはどちらが好きですか？</p>
    </div>
    <div class="col-6">
      <%= f.radio_button :question1, "1", id: "q1_slow" %>
      <label for="q1_slow">じっくり世界観を味わう</label>
      <%= f.radio_button :question1, "2", id: "q1_fast" %>
      <label for="q1_fast">テンポよく展開する熱い物語</label>
    </div>

    <div class="col-12">
      <p>Q2. 主人公像として惹かれるのは？</p>
    </div>
    <div class="col-6">
      <%= f.radio_button :question2, "1", id: "q2_unique" %>
      <label for="q2_unique">個性的でカリスマ性がある</label>
      <%= f.radio_button :question2, "2", id: "q2_team" %>
      <label for="q2_team">仲間と協力して成長する</label>
    </div>

    <div class="col-12">
      <p>Q3. 漫画を読むとき重視するのは？</p>
    </div>
    <div class="col-6">
      <%= f.radio_button :question3, "1", id: "q3_talk" %>
      <label for="q3_talk">キャラクターの会話や心理描写</label>
      <%= f.radio_button :question3, "2", id: "q3_action" %>
      <label for="q3_action">アクションや事件の展開</label>
    </div>

    <div class="col-12">
      <p>Q4. 読み終わったあとに求めるのは？</p>
    </div>
    <div class="col-6">
      <%= f.radio_button :question4, "1", id: "q4_logic" %>
      <label for="q4_logic">納得感のあるストーリーや伏線回収</label>
      <%= f.radio_button :question4, "2", id: "q4_emotion" %>
      <label for="q4_emotion">心が揺さぶられる感情体験</label>
    </div>

  </div>

  <div class="sindanbotan">
    <%= f.submit "結果" %>
  </div>
<% end %>
