<!DOCTYPE html>
<html>
  <head>
    <title>Book</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/aa479b1f2e"  crossorigin="anonymous"></script> 

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
   <header>
      <h1>漫画投稿サイト</h1>

      <div class="header-list">
       <ul>
         <% if user_signed_in? %>
            <li><%= button_to 'ログアウト', destroy_user_session_path, method: :delete %></li>
         <% else %>

         <li><%= link_to "新規登録", new_user_registration_path %></li>
            <li><%= link_to "ログイン", new_user_session_path %></li>
         <% end %>
       </ul>
      </div>
    
      <!-- ハンバーガーメニュー部分 -->
      <div class="nav">
    
       <!-- ハンバーガーメニューの表示・非表示を切り替えるチェックボックス -->
       <input id="drawer_input" class="drawer_hidden" type="checkbox">
    
       <!-- ハンバーガーアイコン -->
       <label for="drawer_input" class="drawer_open"><span></span></label>
    
        <!-- メニュー -->
        <nav class="nav_content">
         <ul class="nav_list">
            <li class="nav_item"><a href="">メニュー1</a></li>
            <li class="nav_item"><a href="">メニュー2</a></li>
            <li class="nav_item"><a href="">メニュー3</a></li>
         </ul>
        </nav>
   
      </div>
    </header>

      <div class="bg_pattern Paper_v2"></div>

  </body>
</html>
